* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conteiner {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}
.sidebar {
  flex-direction: column;
  width: 15%;
  height: 90%;
  background: #040503;
}
.sidebar_top{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}
.logo {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 60%;
  height: 70px;
}
.sidebar_top img {
  width: 100%;
  color: white;
  align-self: flex-end;
}
.sidebar_item {
  align-self: center;
  width: 80%;
  font-size: 13px;
  margin: 10px 0;
}
.sidebar_item a {
  text-decoration: none;
  color: #696a67;
}
.sidebar_item a:hover {
  color: white;
}
.sidebar_item a.selected{
  color: #1db954;
}
.sidebar_text {
  align-self: center;
  width: 80%;
  margin-top: 30px;
  color: #696a67;
}
.sidebar_text h3 {
  font-size: 12px;
  padding-bottom: 15px;
}
.sidebar_text span {
  font-size: 10px;
}
.sidebar_text h4 {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 20px;
}
.sidebar_bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10%;
  padding-bottom: 10px;
}
.sidebar_bottom_item {
  width: 80%;
  margin: auto;
}
.sidebar_bottom_item a {
  text-decoration: none;
  color: #696a67;
}
.sidebar_bottom_item a:hover {
  color: white;
}
.sidebar_bottom_item a.selected {
  color: white;
}
.linea {
  margin: 5px auto;
  width: 80%;
  height: 1px;
  background: #696a67;
}

.main {
  display: flex;
  width: 85%;
  height: 90%;
  background: blue;
}
.navbar {
  width: 100%;
  height: 70px;
  background: brown;
}
.footer {
  width: 100%;
  height: 10%;
  background: #282828;
}
